<h1>Listing Articles</h1>
<% flash.each do |type, msg| %>
  <div class="flash-<%= type %>">
    <%= msg %>
  </div>
<% end %>

<div><%= link_to 'New Image', new_image_path %></div>
<%= link_to 'Clear Filter', images_path %>
<br />
<div id="image-list">
  <% @images.each do |image| %>
    <div class="image-container">
      <b>Tags: </b>
      <div class="tag">
        <% image.tag_list.each do |tag|%>
          <%= link_to tag, images_path(tag: tag) %>  
        <% end %>
      </div>

      <img id="image" src="<%= image.link %>"/>

      <p>
        <%= link_to 'Show', image_path(image) %>
      </p>
      <br />
    </div>
  <% end %>
</div>
