<h1>New Image</h1>
<%= form_with scope: :image, url: images_path, local: true do |form| %>

  <% if @image.errors.any? %>
    <div class="error-message">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :link %><br>
    <%= form.text_field :link %>
  </p> 

  <p>
    <%= form.label :tag_list %><br>
    <%= form.text_field :tag_list %>
  </p> 

  <p>
    <%= form.submit :Save %>
  </p>

  <%= link_to 'Home Page', images_path %>
<% end %>
