<% flash.each do |type, msg| %>
  <div class="flash-<%= type %>">
    <%= msg %>
  </div>
<% end %>

<p>
  <b>Tags: </b><div id="tags"><%= @image.tag_list%></div>
</p>

<p>
  <img class="image" src="<%= @image.link %>"/>
</p>

<p>
    <%= link_to 'Delete', image_path(@image), method: :delete, 
    data: {confirm: 'Are you sure?'} %>
</p>

<p>
  <%= link_to 'Home Page', images_path %>
</p>